<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script defer src="/static/scripts/index.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body x-data="{}">
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/learn">Learn</a>
        <a href="/create">Create</a>
        <a href="/browse">Browse</a>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>