{% extends 'base.html' %}
{% block content %}
    <p>ID: {{id}}</p>
    <form id="create-form" method="post" x-on:submit="formSubmit" x-data="{planetType: '', diameter: 1, distance: 1, material: '', gas: false, rings: 0, colour: 'red', climate: 1, starType: ''}">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">


        <div>
            <label for="diameter">Diamter: </label>
            <input type="number" class="noarrow" name="diameter" id="diameter" min="0.5" max="10" step="0.1" value="1" x-model="diameter">
            <span>AU</span>
        </div>
        <input type="range" name="diameter" id="diameter" min="0.5" max="10" step="0.1" value="1" x-model="diameter">

        <div>
            <label for="distance">Distance: </label>
            <input type="number" class="noarrow" name="distance" id="distance" min="0.5" max="10" step="0.1" value="1" x-model="distance">
            <span>AU</span>
        </div>
        <input type="range" name="distance" id="distance" min="0.5" max="10" step="0.1" value="1" x-model="distance">

        
        <div>
            <label for="colour">Colour: </label>
            <input type="color" class="noarrow" name="colour" id="colour" x-model="colour">
        </div>


        <div>
            <label for="star-type">Planet Type: </label>
        </div>
        <select name="star-type" id="star-type" x-model="starType">
            <option value="awesome">Awesome</option>
        </select>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
